* {
    margin: 0%;
    padding: 0%;
}

header {
    background-color: #1C1C1C;
    height: 40px;
    font-size: 20px;
}

.header-left {
    display: flex;
    text-align: center;
}

.header-left-search {
    color: aliceblue;
    padding: 9px
}

.header-left-words {
    color: #696969;
    padding: 9px
}

main {
    justify-content: center;
    padding: 1% 30%;
}

.main-up {
    margin: 0%;
    text-decoration: none;
}

.main-up-google {
    margin: 0% 15%;
}

.main-up-pesquisa {
    width: 95%;
    height: 35px;
    margin: 0%;
    font-size: 25px;
}

.main-up-pesquisa-div {
    padding: 0% 27.5%;
    margin: 7px 0;
}

.main-up-pesquisa-div-words {
    text-decoration: none;
    text-align: center;
    color: black;
}

.main-down {
    margin: 10% 0%;
    padding: 7% 15%;
}

.main-down-cabeca{
    margin: 20px;
}

.main-down-cabeca-words{
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
}

.main-baixo {
    display: flex;
    text-align: center;
    text-decoration: none;
}

.main-down-pe {
    margin: 0% 27.5%;
}

.main-down-pe-ano {
    color: #A9A9A9;
}

.main-down-pe-words{
    text-decoration: none;
    font-size: 17px;
}