* {
    margin: 0%;
    padding: 0%;
}

.pesquisa {
    width: 10%;
}

.baixo {
    display: flex;
    text-align: center;
    text-decoration: none;
}

.ultimo {
    display: flex;
    align-items: center;
}