* {
    margin: 0%;
    padding: 0%;
}

header {
    background-color: #1C1C1C;
    height: 40px;
    font-size: 20px;
}

.header-left {
    display: flex;
    text-align: center;
}

.header-left-search {
    color: aliceblue;
    padding: 9px
}

.header-left-words {
    color: #696969;
    padding: 9px
}

.pesquisa {
    width: 10%;
}

.baixo {
    display: flex;
    text-align: center;
    text-decoration: none;
}

.ultimo {
    display: flex;
    align-items: center;
}